{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>Django Login Application |
        {% block title %}{% endblock %}</title>
        <link rel='stylesheet' type='text/css' href={% static "cienmil.css" %} />
    </head>
    <body>
    <div class="container">
    {% block nav %}
    <nav>
        <ul id="nav">
            <li><a href="/webshare/about" target="_self" title="Quienes somos"><img src="/static/img/boton_quienes.png" width=48 height=48></a></li>
            <li><a href="/webshare/empresa" target="_self" title="Empresas"><img src="/static/img/boton_empresa.png" width=48 height=48></a></li>
            <li><a href="/webshare/ingenieros" target="_self" title="Ingenieros"><img src="/static/img/boton_ingenieros.png" width=48 height=48></a></li>
            <li><a href="/webshare/asociaciones" target="_self" title="Asociaciones"><img src="/static/img/boton_asociaciones.png" width=48 height=48></a></li>
            <li><a href="/webshare/investigadores" target="_self" title="Investigadores"><img src={% static "img/boton_investigadores.png" %} width=48 height=48></a></li>
            <li><a href="/webshare/ong" target="_self" title="ONG"><img src={% static "img/boton_ONG.png" %} width=48 height=48></a></li>
        </ul>
    </nav>
{% endblock %}
        
            <img class"fondo" src=/static/img/cienmil.jpg>
        </div>
    </body>
</html>
