{% extends "layouts/masterfile_green.html" %}
{% load staticfiles %}

{% block title %} Share For Good - Empresa {% endblock %}
{% block header %}
<header>
    <a href="/webshare/index" target="_self" title="Share For Good" alt="logo"><div id="logo"></div></a>
</header>
{% endblock %}

{% block nav %}
<nav>
<ul id="nav">
    <li><a href="/webshare/about" target="_self" title="Quienes somos"><img src={% static "img/boton_quienes.png" %} width=48 height=48></a></li>
    <li><a href="/webshare/empresa" target="_self" title="Empresas"><img src={% static "img/boton_empresa.png" %} width=48 height=48></a></li>
    <li><a href="/webshare/ingenieros" target="_self" title="Ingenieros"><img src={% static "img/boton_ingenieros.png" %}  width=48 height=48></a></li>
    <li><a href="/webshare/asociaciones" target="_self" title="Asociaciones"><img src={% static "img/boton_asociaciones.png" %} width=48 height=48></a></li>
    <li><a href="/webshare/investigadores" target="_self" title="Investigadores"><img src={% static "img/boton_investigadores.png" %} width=48 height=48></a></li>
    <li><a href="/webshare/ong" target="_self" title="ONG"><img src={% static "img/boton_ONG.png" %} width=48 height=48></a></li>
</ul>
</nav>
{% endblock %}

{% block elem1 %}
<h1 class="quienessomos1">¿Quiénes somos?</h1>

<div id="about_info" class="font">
<p>Share For Good es un proyecto creado por Natalia, Daniel, Valentín, Jose, Felix y Miguel, un grupo de ingenieros y diseñadores españoles involucrados con las causas benéficas, que pretendemos arreglar un problema real: la falta de conexión entre investigadores, ingenieros, asociaciones sin animo de lucro, empresas y entidades publicas.</p>

<p>En la actualidad, todos estos colectivos no tienen ningún medio donde mantenerse en contacto, coordinar actividades, ofrecer conocimientos o ayuda, ver subvenciones y hacer tramites en el ámbito de la investigación de enfermedades de una manera sencilla. Después de hablar con varias fundaciones y cerciorarnos de que en varios congresos del sector se ha mencionado que existe la necesidad de reunir toda esa actividad en algún lugar, nuestra intención es la crear una web donde todas las asociaciones y profesionales del sector de la medicina que quieran aportar su granito de arena, puedan aunar esfuerzos y luchar con un objetivo común.</p>

<p>Además, entendemos que en el ámbito de la cooperación y el desarrollo, existe todavía una relación poco fluida entre ingenieros y ONGs para posibles colaboraciones, por lo que también pretendemos abrir ese campo, para que de una manera fácil, ambos colectivos puedan estar en contacto.</p>
</div>
{% endblock %}

{% block elem2 %}
<div class="clear"></div>
{% endblock %}

{% block footer %}
<footer>
</footer>
{% endblock %}

