{% extends "layouts/masterfile_green.html" %}
{% load staticfiles %}

{% block title %} Share For Good - Empresa {% endblock %}
{% block header %}
<header>
    <a href="/webshare/index" target="_self" title="Share For Good" alt="logo"><div id="logo"></div></a>
</header>
{% endblock %}

{% block nav %}
<nav>
<ul id="nav">
    <li><a href="/webshare/about" target="_self" title="Quienes somos"><img src={% static "img/boton_quienes.png" %} width=48 height=48></a></li>
    <li><a href="/webshare/empresa" target="_self" title="Empresas"><img src={% static "img/boton_empresa.png" %} width=48 height=48></a></li>
    <li><a href="/webshare/ingenieros" target="_self" title="Ingenieros"><img src={% static "img/boton_ingenieros.png" %}  width=48 height=48></a></li>
    <li><a href="/webshare/asociaciones" target="_self" title="Asociaciones"><img src={% static "img/boton_asociaciones.png" %} width=48 height=48></a></li>
    <li><a href="/webshare/investigadores" target="_self" title="Investigadores"><img src={% static "img/boton_investigadores.png" %} width=48 height=48></a></li>
    <li><a href="/webshare/ong" target="_self" title="ONG"><img src={% static "img/boton_ONG.png" %} width=48 height=48></a></li>
</ul>
</nav>
{% endblock %}

{% block elem1 %}
<h1 class="quienessomos1">Empresa</h1>

<div id="about_info" class="font">
<p>Si eres una empresa y quieres subvencionar algún proyecto de investigación, este es tu sitio. Podrás subir convocatorias, eventos e informaciones directamente para que sean de difusión general.</p>

destinados a la cooperación al desarrollo o directamente ofrecer tus conocimientos para formar parte de un programa de voluntariado.</p>

<p>Solo tienes que registrarte y tendrás acceso al registro y ¡no pierdas ni un segundo más!</p>
</div>
{% endblock %}

{% block elem2 %}
<div class="clear"></div>
{% endblock %}

{% block footer %}
<footer>
</footer>
{% endblock %}

