.container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.fondo img {
  position: absolute;
}

nav {
  position: absolute;
  margin-top: 244px;
  margin-left: 0px;
}

nav ul {
    list-style:none;
}

nav img {
    margin-bottom: 15px;
}