body {
    background-color: #ededed;
}

header {
    width: 1024px;
    height: 244px;
    background-repeat: no-repeat;
    background-image: url('img/header_bg_yellow.png');
}

footer {
    width: 1024px;
    height: 98px;
    background-repeat: no-repeat;
    background-image: url('img/footer_bg_yellow.png');
}

#container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    width: 307px;
    height: 182px;
    float: left;
    margin-left: 23px;
    margin-top: 20px;
}

#aboutimg {
    width: 1022px;
    height: 667px;
    background-image: url('img/contentabout.png');
}
